body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
}

/*header starts here*/
/*navigation bar starts here*/

/* header branch link */
.logo-container .branch-link {
    color: black;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
}

.main-header {
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

/* header,links, logo  */
.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.456);
}

/* header between nav bar : line */
.logo-container {
    background-color: white;
    border-bottom: 2px solid black;
}


/* nav bar links 5 */
.logo-container+.nav-bar .nav-link {
    color: black;
    font-family: 'Fira Sans', sans-serif;
}



/* nav bar links place  */
.logo-container .logo {
    display: inline-block;

}

.logo {
    height: 8vh;
}

/* nav bar links place  */
.nav-list {
    padding: 0.8% 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nav bar link hover line starts */

.nav-bar ul li a,
.nav-bar ul li a {
    position: relative;
}

.nav-bar ul li a:after,
.nav-bar ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: black;
    height: 1px;
}

.nav-bar ul li a:hover:after {
    width: 100%;

}

/* nav bar link hover line ends */

/* nav bar links gap */
.nav-list-item {
    display: inline-block;
    margin-right: 20px;
}

/* nav bar links design*/
.nav-link {
    text-decoration: none;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-style: inherit;
    letter-spacing: 1px;
    font-size: 15px;
}

/*navigation bar ends here*/

@media (max-width: 900px) {

    .nav-link,
    .branches-content,
    .nav-bar,
    .btn,
    .btn-primary,
    .logo-container .btn-primary {
        display: none !important;
    }
}

/* book button styles starts here */
.btn {
    display: inline-block;
    padding: 0.7% 3%;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
}

.btn-primary {
    background-color: white;
    color: black;
}

.logo-container .btn-primary {
    background-color: #bd9f65;
}

/* book button styles ends here */

/*header ends here*/



/* mobile view nav bar - hembuger starts here*/
@media (min-width: 900px) {

    #menuToggle,
    #menu,
    #menuToggle input {
        display: none !important;
    }
}

#menuToggle {
    display: block;
    position: relative;
    top: -30%;
    left: 0;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    font-family: 'Fira Sans', sans-serif;

    transition: color 0.3s ease;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -20px;

    cursor: pointer;

    opacity: 0;
    /* hide */
    z-index: 2;
    /* plac over the hamburger */

    -webkit-touch-callout: none;
}

/*Just a hamburger*/
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/* middle one */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


#menu {
    position: absolute;
    width: 250px;
    margin: -100px 0 0 -50px;
    padding: 60px;
    padding-top: 120px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 5% 0;
    font-size: 22px;
}

/*slide it in from the left */
#menuToggle input:checked~ul {
    transform: none;
}

/* -mobile view nav bar - hembuger ends here */




/* booking starts here*/
#bookingRoomDiv,
#bookingAdventureDiv,
#bookingAdventure,
#btnCode {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#bookingForm {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

select,
input {
    width: 95%;
    padding: 8px;
    margin-bottom: 16px;
}

#bookBtn,
#adventureBtn {
    background-color: darkgreen;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 75%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 2%;
    text-align: left;
}

#bookBtn:hover,
#adventureBtn:hover {
    background-color: #45a049;
}

#favBtn,
#loyalty {
    background-color: darkblue;
    color: #fff;
    padding: 10px 15px;
    border: none;

}

#favBtn:hover,
#loyalty:hover {
    background-color: brown;
}

#headOne,
#headTwo,
#headThree {
    text-align: center;
    color: #333;
}

#summaryCurrentBookAdventure,
#summaryCurrentBookHotel,
#summaryCurrentBookOverll,
#summaryOverallBookHotel,
#summaryOverallBookAdventure {
    width: 50%;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
}

/*Booking Ends Here*/




/*footer starts here*/
.footer {
    width: 100%;
    background: black;
    display: block;
}

.inner-footer {
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.footer-items {
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
}

.footer-items ul {
    list-style: none;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.footer-items ul a {
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}

.footer-items ul a:hover {
    color: goldenrod;
}

.footer-items ul li {
    margin: 30px 0;
    height: 25px;
}

.footer-items li i {
    margin-right: 40px;
}

@media screen and (min-width: 900px) {
    .footer-items {
        width: 25%;
    }
}

@media screen and (max-width: 900px) {
    .footer-items {
        width: 100%;
    }
}



.footer-reference {
    text-align: center;
    font-size: 14px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.footer-reference a {
    color: rgba(152, 157, 161, 0.8);
}


@media screen and (max-width: 900px) {
    .footer-reference {
        flex-direction: column;
    }
}

/* footer ends here */